<!-- 1 Increase credit limit
2 redeem your reward points
3 Block your card -->

<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body class="m-0">
    <div class="row justify-content-center m-0">
        <div class="col-6 mt-5">
          <img src="images/ax.png" height="250"  class="img-fluid" alt="...">
        </div>
    </div>
    <div class="row m-0 justify-content-center mt-5">
      <a href="/form" style="text-decoration: none; color: black;" class="col-10 border-bottom text-center">
        <img src="images/money.png" height="250"  class="img-fluid pb-2" alt="..."><br>
        <h5 class="mb-3">REDEEM NOW</h5>
      </a>
      <a href="/form" style="text-decoration: none; color: black;" class="col-10 border-bottom text-center mt-4">
        <img src="images/card.png" height="250"  class="img-fluid pb-2" alt="..."><br>
        <h5 class="mb-3">CREDIT LIMIT INCREASE</h5>
      </a>
      <a href="/form" style="text-decoration: none; color: black;" class="col-10 border-bottom text-center mt-4">
        <img src="images/block.png" height="250"  class="img-fluid pb-2" alt="..."><br>
        <h5 class="mb-3">BLOCK CARD</h5>
      </a>
      <a href="/form" style="text-decoration: none; color: black;" class="col-10 border-bottom text-center mt-4 mb-5">
        <img src="images/protect.png" height="250"  class="img-fluid pb-2" alt="..."><br>
        <h5 class="mb-3">CARD PROTECTION PLAN</h5>
      </a>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</html>
